@model Consuming_ASP.NET.Models.Questions

@{
    ViewBag.Title = "Question";
}
@*@model IEnumerable<Consuming_ASP.NET.Models.Questions>*@

<div class="question_container">
    <div class="Row">


        <div class="info"></div>


        <div class="Column time">

            <p id="secs" style="margin: auto; text-align: center;"></p>
            <script>
                // The data/time we want to countdown to
                var countDownDate = new Date("Jul 25, 2021 16:37:52").getTime();
                //var countDownDate = new Date(Date.now.seconds + 30).getTime();
                var timeleft = 31000;
                // Run myfunc every second
                var myfunc = setInterval(function () {

                    var now = new Date().getTime();
                    timeleft -= 1000;

                    // Calculating the days, hours, minutes and seconds left
                    var seconds = Math.floor((timeleft % (1000 * 60)) / 1000);

                    // Result is output to the specific element
                    document.getElementById("secs").innerHTML = seconds

                    // Display the message when countdown is over
                    if (timeleft < 0) {
                        clearInterval(myfunc);
                        document.getElementById("secs").innerHTML = "Time out!"
                    }
                }, 1000);
            </script>
        </div>


        <div class="Column points">420</div>


    </div>
    <div>
        <div class="question">Quien es el mejor tonto de clase? </div>
    </div>
    <div>
        <div class="question_row">
            <div class="btn answer">A. Markel</div>
            <div class="btn answer">B. Markel</div>
        </div>
        <div class="question_row">
            <div class="btn answer">C. Alvaro</div>
            <div class="btn answer">D. Joseba</div>
        </div>
    </div>
</div>
<div class="bottom btn zootopia" style="margin-left: 100%; margin-top: -66%">
    @Html.ActionLink("Back to Menu", "Index")
</div>